.calculator {
  padding: 150px 0;

  &__container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  &__title {
    text-align: center;
  }

  &__text {
    text-align: left;
  }

  &__img {
    height: 600px;
    width: 700px;
  }
}
