@import '../base/colours';
@import '../layout/grid';

.homeSection {
  padding: 50px 0 25px;

  &--first {
    padding: 150px 0 50px;
    overflow-x: hidden;
  }
  &--third {
    padding-bottom: 100px;
  }
}

.homeHero {
  &__button {
    text-transform: uppercase;
    font-size: 1rem;
    padding: 0.8rem;
    background-color: $CaribbeanGreen;
    color: #fff;
    border: none;
    display: block;
    width: 170px;
    text-align: center;
    text-decoration: none;

    &:hover {
      background-color: $Misteria;
      cursor: pointer;
    }
  }

  &__button-icon {
    padding-left: 1rem;
  }

  &__left {
    position: relative;
  }

  &__img-wrapper {
    max-width: 100vw;
  }

  &__img {
    max-width: 350px;
    margin-left: 33%;
  }
}
@media only screen and (min-width: $bp-sm) {
  .homeHero {
    &__button {
      margin: 4rem auto;
    }

    &__img-wrapper {
      max-width: none;
    }

    &__img {
      max-width: none;
      width: 80%;
      margin-left: 35%;
    }
  }
}
@media only screen and (min-width: $bp-md) {
  .homeHero {
    &__button {
      margin: 6rem 0 3rem 1rem;
    }

    &__img {
      width: 70%;
      margin-left: -15%;
    }
  }
}
@media only screen and (min-width: $bp-lg) {
  .homeHero {
    &__button {
      margin: 6rem 0 3rem 1rem;
    }

    &__img {
      width: 70%;
      margin-top: -5%;
      margin-left: 35%;
    }
  }
}
@media only screen and (min-width: $bp-xl) {
  .homeHero {
    &__img {
      width: 50%;
      margin-top: -25%;
      margin-left: 35%;
    }
  }
}

.three-block {
  &__title {
    text-align: center;
    color: $font;
  }

  &__box {
    &--first {
      background: linear-gradient(40deg, $PowderBlue 60%, $Porcelain 40%);
    }

    &--second {
      background: linear-gradient(323deg, $PowderBlue 60%, $Porcelain 40%);
    }

    &--third {
      background: linear-gradient(38deg, $PowderBlue 60%, $Porcelain 40%);
    }
  }

  &__subtitle {
    padding: 20px 0 10px 10px;
  }

  &__text {
    padding: 0 15px 10px;
  }
}
.intro {
  &__link {
    cursor: pointer;

    :hover {
      background-color: $Porcelain;
    }
  }

  &__text {
    font-size: 18px;
    margin-bottom: 2rem;
  }

  &__diets {
    margin: 30px auto;
    display: flex;
    flex-direction: row;
  }

  &__diet {
    padding: 1rem;
  }

  &__diet-icon {
    width: 60px;
    display: block;
    margin: 0 auto;
  }

  &__diet-title {
    text-align: center;
    margin-top: 2rem;
  }
}
.sliderImg {
  margin: 50px auto 0px;
  &__image {
    max-width: 80%;
    display: block;
    margin: 0 auto;
  }
  &__wrapperText{

  }
  &__text{
    text-align: center;
  }
}
@media only screen and (min-width: $bp-sm) {
  .sliderImg {
    display: flex;
    flex-direction: row;
    &__image {
      max-width: 40%;
    }
    &__wrapperText{
      position: relative;
      width: 50%;
    }
    &__text{
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
}
@media only screen and (min-width: $bp-md) {
  .sliderImg {
    display: flex;
    flex-direction: row;
    flex-flow: row-reverse;
  }
}
@media only screen and (min-width: $bp-xl) {
  .intro {
    max-width: 100%;
    margin: 0 auto;
    position: relative;

    &__offset {
      margin-left: 24%!important;
    }
    &__block {
      text-align: center;
    }

    &__text {
      text-align: center;
      max-width: 80%;
      display: block;
      margin: 0 auto;
    }
  }
  .sliderImg {
    max-width: 25%;
    display: block;
    top:120px;
    margin-top:0px;
    position: absolute;
    &__image {
      max-width: 100%;
    }
    &__text {
      display: none;
    }
  }
}
