@import '../base/colours';
@import '../layout/grid';

.h1{
  text-align: center;
}

.blog {
    &__text{
        color: #000;
        font-size: 14px;

        &--green {
            color:$Misteria;
        }
    }
}

@media only screen and (min-width: $bp-sm) {
    .hero {
      &__title {
        max-width: 60%;
      }

      &__button {
        margin: 4rem auto;
      }

      &__img-wrapper {
        max-width: none;
      }

      &__img {
        max-width: none;
        width: 80%;
        margin-left: 35%;
      }
    }
  }

  @media only screen and (min-width: $bp-md) {
    .hero {
      &__title {
        font-size: 4rem;
      }

      &__wrapper {
        min-height: 600px;
      }

      &__main-row {
        margin-left: 15%;
      }

      &__button {
        margin: 6rem 0 3rem 1rem;
      }

      &__img {
        width: 70%;
        margin-left: -15%;
      }
    }
  }


  @media only screen and (min-width: $bp-lg) {
    .hero {
      &__title {
        margin-left: -15%;
      }

      &__button {
        margin: 6rem 0 3rem 1rem;
      }

      &__main-row {
        margin-left: 10%;
      }

      &__img {
        width: 70%;
        margin-top: -5%;
        margin-left: 35%;
      }
    }
  }

  @media only screen and (min-width: $bp-xl) {
    .hero {
      &__main-row {
        margin-left: 20%;
      }

      &__title {
        max-width: 40%;
        font-size: 4.5rem;
        margin-left: -8%;
      }

      &__img {
        width: 50%;
        margin-top: -8%;
        margin-left: 35%;
      }
    }
  }
