@import '../base/colours';
@import '../layout/grid';

.receSection{
    padding: 150px 0;
}

.stepSection{
    margin-bottom: 100px;
}
.steps__container{
    background-color: white;
}

.step_cont{
    background-color: #bae2be;
    padding: 15px;
}
.step_cont_done{
    background-color: #EBF1F0;
}
h4{
    font-size: 2em;
    margin: 0;
}


/*.homeHero {
  &__button {
    font-size: 1rem;
    padding: 0.8rem;
    background-color: $CaribbeanGreen;
    color: #fff;
    border: none;
    display: block;
    margin: 3rem 0 3rem 30%;

    &:hover {
      background-color: $Misteria;
      cursor: pointer;
    }
  }
*/
@media only screen and (min-width: 960px) {
    .ingredientsSection{
        position: fixed;
        left: 10px;
        top 200px;
    }




}

