@import '../base/colours';
@import '../layout/grid';



.steps__container{
    background-color: white;
}

.step_cont{
    background-color: #bae2be;
    padding: 15px;
}

h4{
    font-size: 2em;
    margin: 0;
}