@import '../base/colours';
@import '../layout/grid';
/* ALEX STYLES */

.btnIngredientDeskt {
    display: none;
}

.steps {
    padding-bottom: 100px;
}


.stepbar{
    display:none;
}
.rece {
  padding: 150px 0;

  &__img {
    max-width: 80%;
    display: block;
    margin: 0 auto;
  }
}

.step {
  background-color: $Porcelain;
  padding: 15px;

  &__done {
    background-color: $CaribbeanGreen;
  }

  &__title {
    font-size: 1.5em;
    margin: 0;
  }
}
/* ---- ingerdients ------*/

.btnIngredient {
  position: fixed;
  z-index: 9997;
  bottom: 0;
  width: 100%;

  &__button {
    width: 100%;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 1rem;
    height: 50px;
    padding: 0.8rem;
    background-color: #0EC99D;
    color: #fff;
    border: none;
    display: block;
  }
}

.ingre {
  position: fixed;
  z-index: 9996;
  bottom: -500px;
  left: 0;
  background-color: white;
  width: 100%;

  &--mobile {
    position: fixed;
    z-index: 9996;
    bottom: 50px;
    left: 0;
    background-color: white;
    width: 100%;
    margin-bottom: 0 !important;
  }

  &__title {
    &--mobile {
      font-size: 1.5em;
    }
  }
}
@media only screen and (min-width: $bp-lg) {
  .rece {
    &__title {
      max-width: 80%;
    }
  }
  /* ----- STEP BAR ---- */
  .stepbar {
    position: fixed;
    z-index: 9998;
    top: 95.5px;
    width: 100%;
    height: 50px;
    background-color: white;
    display: none;

    &__position {
      display: flex;
      justify-content: space-between;
      align-content: center;
    }

    &__step {
      background-color: white;
      width: 100%;
      height: 50px;
      padding-left: 10px;
      padding-right: 10px;

      &--done {
        background-color: $CaribbeanGreen;
      }

      &--first {
        background-color: $CaribbeanGreen;
      }
    }

    &__link {
      text-decoration: none;
      color: $font;
      margin: auto;
      line-height: 50px;
      display: block;
      text-align: center;

      &--first {
        color: $white;
      }
    }
  }
  /* --- STEPS SEC --- */

  .ingre {
    position: static;
    width: 46%;
    background-color: $Porcelain;

    &__title {
      font-size: 4.5rem;
      text-align: left;
      padding: 0 1rem;
      color: #616770;
      font-weight: bold;
      max-width: 80%;
    }
  }
  /* --- INGREDIENTS SEC--- */
  .btnIngredient {
    display: none;
  }

  .btnIngredientDeskt {
    position: fixed;
    z-index: 9999;
    bottom: 20px;
    right: 200px;

    &__button {
      text-decoration: none;
      color: white;
      text-transform: uppercase;
      font-size: 1rem;
      padding: 0.8rem;
      background-color: #0EC99D;
      color: #fff;
      border: none;
      display: block;
    }
  }
}
