@import '../base/colours';

.navbar {
background-color: #fff;
-webkit-transition:   background-color .5s; /* For Safari 3.1 to 6.0 */
transition:   background-color .5s;
  position: fixed;
  padding: 15px 0;
  width: 100%;
  z-index: 99999999;
  box-sizing: border-box;

  &--scrolled{
      background-color:$PowderBlue;
      -webkit-transition:   background-color .5s; /* For Safari 3.1 to 6.0 */
transition:   background-color .5s;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__logo {
    color: pink;
    margin-left: 15px;
  }

  &__list {
    display: none;
    padding:15px;
  }

  &__link {
    color: $font;
    text-align: left;
    text-decoration: none;
    padding: 5px;
    font-size: 17px;

    &--active {
      background-color: $CaribbeanGreen;
      color: white;
    }

    &:hover {
      background-color: $CaribbeanGreen;
      color: white;
    }
  }

  &__button {
    color: pink;
    margin-right: 15px;
  }
}

.navbar.responsive .navbar__list {
  display: flex;
  flex-direction: column;
  text-align: left;
}

@media only screen and (min-width: $bp-sm) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
    margin: 0 auto;

    &__button {
      display: none;
    }

    &__list {
      display: flex;
      flex-direction: row;
    }

    &__link {
      margin-right: 20px;
    }
  }
}
