@import '../base/colours';

.navbar {
  background-color:$Porcelain;
  /* For Safari 3.1 to 6.0 */
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  position: fixed;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  z-index: 99999999;
  box-sizing: border-box;

  &--scrolled {
    background-color: $PowderBlue!important;
    /* For Safari 3.1 to 6.0 */
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__logo {
    color: red;
    margin-left: 15px;
  }

  &__list {
    display: none;
    padding: 15px;
  }

  &__ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 40px auto 0px;
    padding-left: 0px;
  }

  &__li {
    margin-bottom: 10px;
  }
  &__link {
    color: $font;
    text-align: left;
    text-decoration: none;
    padding: 5px;
    font-size: 1.2rem;

    &--active {
      background-color: $CaribbeanGreen;
      color: white;
    }

    &:hover {
      background-color: $CaribbeanGreen;
      color: white;
    }
  }

  &__button {
    color: pink;
    margin-right: 15px;
  }
}

.navbar.responsive .navbar__list {
  display: flex;
  flex-direction: column;
  text-align: left;
}

@media only screen and (min-width: $bp-md) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
    margin: 0 auto;
    background-color: $white;


    &__ul {
      display: flex;
      flex-direction: row;
      margin-top:0px;
    }

    &__button {
      display: none;
    }

    &__list {
      display: flex;
      flex-direction: row;
    }

    &__link {
      margin-right: 20px;
    }
  }
}
