@import './grid';

.navbar {
  background-color:#fff;
  color: hotpink;
  position: fixed;
  padding: 15px 0;
  width: 100%;
  z-index: 99999999;
  box-sizing: border-box;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__logo {
    color: pink;
    margin-left: 15px;
  }

  &__list {
    display: none;
    padding:15px;
  }

  &__link {
    color:pink;
    text-align: left;
    text-decoration: none;
    font-size: 17px;

    &--active {
      background-color: #4CAF50;
      color: white;
    }

    &:hover {
      background-color: #ddd;
      color: black;
    }
  }

  &__button {
    color: pink;
    margin-right: 15px;
  }
}

.navbar.responsive .navbar__list {
  display: flex;
  flex-direction: column;
  text-align: left;
}

@media only screen and (min-width: $bp-sm) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
    margin: 0 auto;

    &__button {
      display: none;
    }

    &__list {
      display: flex;
      flex-direction: row;
    }

    &__link {
      margin-right: 20px;
    }
  }
}
