body{
    padding-left: 3%;
    padding-right:3%;
}
h1{
    text-align: center;
}
.myth1{
    padding-left: 20%;
    padding-right:20%;
}
.myth2{
    padding-left: 20%;
    padding-right:20%;
}
.author{
    text-align: center;
}