#about-us {
    flex-direction: row;
}
#about-text {
text-align: left;
}
.img-wrap {width: 50%;
float: right;
}
.img-wrap img {width: 100%;
    padding: 10px;
    border-radius: 50%;
box-shadow: 0 0 10px #999999;}