.MythsBusted{
    padding-left: 5%;
    padding-right:5%;
}
h1{
    text-align: center;
}

h3{
    border-style: groove;
    border-radius: 5px;
    border-left-width: 10%;
    border-color: #0EC99D;
}
.myth1{
    padding-left: 20%;
    padding-right:20%;
}
.myth2{
    padding-left: 20%;
    padding-right:20%;
}
.author{
    text-align: center;
}
.slideshow-container {
    max-width: 1000px;
    position: center;
    margin: auto;
  }
  .mySlides {
    display: none;
    position: center;
    overflow: hidden;
  }
  .prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    cursor: pointer;
    position: relative;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    right: 0;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    background-color: #717171;
  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }